.vide h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    /*font:  "NimbusSan-Bol";*/
    text-transform: capitalize;
    /*color: #E6E6E6;*/
}

.well5 {
	/*background-color: #434345;*/
	background-color: white;
}

p, .copyright {
    font-weight: 300;
    /*color: #14b3d9;*/
    color: #434345;
}

.btn {
    display: inline-block;
    padding: 18.5px 20px 18.5px 20px;
    line-height: 24px;
    color: #FFF;
    background: #14b3d9;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
}

.vide {
	background-color: #434345;
  background-image:     
  		linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    	),
  		url("../images/Flatiron School5.jpg") ;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


